    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">&nbsp;</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          {% if page.title != 'Blog' %}
          <a class="p-2 text-dark" aria-label="veja mais publicações" href="/blog">Blog</a>
	  {% endif %}
          <a class="p-2 text-dark" aria-label="sobre o autor" href="/">Sobre</a>
          <span class="p-2 text-dark">&nbsp;</span>
        </nav>
    </div>
